{% extends 'base.html.twig' %}

{% block title %}LINE UP{{ parent() }}{% endblock %}

{% block body %}
    <h2>LINE UP 🚀</h2>
<table>
    <tr>
        <th></th>
        <th>Artist</th>
        <th>Mix</th>
    </tr>
    {% for wish in wishes %}
        <tr>
            <td>{{ wish.id }}</td>
            <td><a href="{{ path('wish_idea', { 'id': wish.id }) }}">{{ wish.title }}</a></td>
            <td>{{ wish.author }}</td>
        </tr>

    {% endfor %}
</table>
{% endblock %}