{% extends 'base.html.twig' %}

{% block title %}{{ wish.title }}{{ parent() }}{% endblock %}

{% block body %}

    <div class="artist-detail">
        <h1>{{ wish.title }}</h1>
        <p>{{ wish.description }}</p>
        <p>{{ wish.author }}</p>
        <p>{{ wish.dateCreated|date('d/m/Y') }}</p>
    </div>


{% endblock %}